/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

div.jumbotron {
  background-color: #FDFDFD;
}
 p.navbar-brand {
   margin-top: 8px;
 }
 p.navbar-brand a {
   margin-left: 10px;
   font-family: 'Oswald', sans-serif;
   font-size: 38px;
   color: #DD4747;
 }
  .navbar-right {
    margin-right: 20px;
  }

  li a {
    margin-right: 30px;
  }

 div.jumbotron p {
    font-family: 'Open Sans', sans-serif;
    color: grey;
    line-height: 24px;
    font-size: 15px;
  }

  h3 {
    font-family: 'Open Sans', sans-serif;
    color: #d9534f;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .btn-danger {
    margin-top: 8px;
    margin-right: 10px;
  }
 .btn-danger:hover {
    margin-top: 8px;
    margin-right: 10px;
    background-color: #fff;
    color: #d9534f;
    border-radius: 10px;
  }
 .name {
   color: #DD4747;
 }
 .name:hover {
   color: #DD4747;
 }

 h2 {
   font-family: 'Open Sans', sans-serif;
   color: #d9534f;
   line-height: 24px;
   margin-bottom: 30px;
   font-size: 18px;
 }

h2#link a {
   color: #d9534f;
   font-size: 30px;
   padding-left: 16px;
 }
h2#link a:hover {
   color: #BE2F2B;
   text-decoration: none;
 }
 .text-footer {
   font-size: 30px;
 }
 p.buttons a {
			line-height: 60px;
			background: #d9534f;
			padding: .3em 0.4em;
			border-radius: 0.2em;
			color: white;
			text-decoration: none;
			font-weight: 100;
      margin-right: 7px;
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
 }
   p.buttons a:hover {
    margin-top: 8px;
    margin-right: 10px;
    background-color: #fff;
    color: #d9534f;
    border-radius: 10px;
  }
